<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.gz.lk.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.gz.lk.core.Perspective"
            id="Yyglxt.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.gz.lk.view.Adminview"
            icon="icons/tb.png"
            id="com.gz.lk.view.Adminview"
            name="管理员界面">
      </view>
      <view
            class="com.gz.lk.view.employeeView"
            icon="icons/tb.png"
            id="com.gz.lk.view.employeeView"
            name="员工界面">
      </view>
      <view
            class="com.gz.lk.view.welcom"
            icon="icons/tb.png"
            id="com.gz.lk.view.welcom"
            name="Welcom">
      </view>
      <view
            class="com.gz.lk.view.employeeManage"
            id="com.gz.lk.view.employeeManage"
            name="员工管理">
      </view>
      <view
            class="com.gz.lk.view.employeeManageView"
            icon="icons/tb.png"
            id="com.gz.lk.view.employeeManageView"
            name="员工管理">
      </view>
      <view
            class="com.gz.lk.view.FilmManageView"
            icon="icons/tb.png"
            id="com.gz.lk.view.FilmManageView"
            name="影片管理">
      </view>
      <view
            class="com.gz.lk.view.UpFilmView"
            icon="icons/tb.png"
            id="com.gz.lk.view.UpFilmView"
            name="影片销售管理">
      </view>
      <view
            class="com.gz.lk.view.SellManageView"
            icon="icons/tb.png"
            id="com.gz.lk.view.SellManageView"
            name="销售管理">
      </view>
      <view
            class="com.gz.lk.view.DownF"
            id="com.gz.lk.view.DownF"
            name="电影下线">
      </view>
      <view
            class="com.gz.lk.view.DownFilm"
            icon="icons/tb.png"
            id="com.gz.lk.view.DownFilm"
            name="电影下线">
      </view>
      <view
            class="com.gz.lk.view.DeleteAllUpfilm"
            icon="icons/tb.png"
            id="com.gz.lk.view.DeleteAllUpfilm"
            name="清空上线电影">
      </view>
      <view
            class="com.gz.lk.view.DytManage"
            id="com.gz.lk.view.DytManage"
            name="影厅管理">
      </view>

      <view
            class="com.gz.lk.view.VIPAdd"
            id="com.gz.lk.view.VIPAdd"
            name="会员注册">
      </view>
      <view
            class="com.gz.lk.view.VIPManageView"
            icon="icons/tb.png"
            id="com.gz.lk.view.VIPManageView"
            name="会员信息">
      </view>
      <view
            class="com.gz.lk.view.BuyTicket"
            id="com.gz.lk.view.BuyTicket"
            name="购票">
      </view>
      <view
            class="com.gz.lk.view.Tjview"
            icon="icons/tb.png"
            id="com.gz.lk.view.Tjview"
            name="统计查询">
      </view>
      <view
            class="com.gz.lk.view.MxcxView"
            id="com.gz.lk.view.MxcxView"
            name="明细查询">
      </view>
      <view
            class="com.gz.lk.view.XstjView"
            icon="icons/tb.png"
            id="com.gz.lk.view.XstjView"
            name="销售明细统计">
      </view>
      <view
            class="com.gz.lk.view.YttjView"
            icon="icons/tb.png"
            id="com.gz.lk.view.YttjView"
            name="影厅统计">
      </view>
      <view
            class="com.gz.lk.view.SzlcxView"
            id="com.gz.lk.view.SzlcxView"
            name="上座率查询">
      </view>
      <view
            class="com.gz.lk.view.RmdyVeiw"
            icon="icons/tb.png"
            id="com.gz.lk.view.RmdyVeiw"
            name="热门电影">
      </view>
      <view
            class="com.gz.lk.view.XsetjView"
            icon="icons/tb.png"
            id="com.gz.lk.view.XsetjView"
            name="销售额统计">
      </view>
      <view
            class="com.gz.lk.view.fytManageView"
            icon="icons/tb.png"
            id="com.gz.lk.view.fytManageView"
            name="放映厅管理">
      </view>
      <view
            class="com.gz.lk.view.FyxxView"
            icon="icons/tb.png"
            id="com.gz.lk.view.FyxxView"
            name="放映信息">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.gz.lk.editor.VIPManageView"
            id="com.gz.lk.editor.VIPManageView"
            name="会员信息">
      </editor>
       <editor
             class="com.gz.lk.editor.SeatEditor"
             icon="icons/tb.png"
             id="com.gz.lk.editor.SeatEditor"
             name="选座">
      </editor>
       <editor
             class="com.gz.lk.editor.B"
             id="com.gz.lk.editor.B"
             name="购票">
       </editor>
       <editor
             class="com.gz.lk.editor.BuyTicket"
             icon="icons/tb.png"
             id="com.gz.lk.editor.BuyTicket"
             name="购票">
       </editor>
       <editor
             class="com.gz.lk.editor.BuyTicket1"
             id="com.gz.lk.editor.BuyTicket1"
             name="BuyTicket1">
       </editor>
   </extension>

</plugin>
